<a href="https://colab.research.google.com/github/AnelKweyu/Python-Guide/blob/master/_12_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

**Note** : Set items are unchangeable, but you can remove items and add new items.

Sets are written with curly brackets.

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

**Note**: Sets are unordered, so you cannot be sure in which order the items will appear.

### Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

### Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

### Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

### Duplicates Not Allowed
Sets cannot have two items with the same value.

In [2]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

**Note**: The values `True` and `1` are considered the same value in sets, and are treated as duplicates

In [3]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{'apple', True, 2, 'cherry', 'banana'}

**Note**: The values `False` and `0` are considered the same value in sets, and are treated as duplicates

In [4]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{'apple', False, True, 'cherry', 'banana'}

### Get the Length of a Set
To determine how many items a set has, use the `len()` function.

In [5]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

### Set Items - Data Types
Set items can be of any data type:

In [6]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

A set can contain different data types:

In [7]:
set1 = {"abc", 34, True, 40, "male"}

### type()
From Python's perspective, sets are defined as objects with the data type 'set':


```
<class 'set'>
```

In [8]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

### The set() Constructor
It is also possible to use the `set()` constructor to make a set.

In [9]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

## Access Set Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a `for` loop, or ask if a specified value is present in a set, by using the `in` keyword.

In [10]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [11]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

### Change Items
Once a set is created, you cannot change its items, but you can add new items.

## Add Set Items

Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the `add()` method.

In [12]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'banana', 'orange', 'cherry'}

### Add Sets
To add items from another set into the current set, use the `update()` method.

In [13]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'cherry', 'mango', 'pineapple', 'papaya', 'banana'}

### Add Any Iterable
The object in the `update()` method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [14]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'kiwi', 'banana', 'orange', 'cherry'}

## Remove Set Items

### Remove Item
To remove an item in a set, use the `remove()`, or the `discard()` method.

In [15]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

**Note**: If the item to remove does not exist, remove() will raise an error.

In [16]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

**Note**: If the item to remove does not exist, `discard()` will NOT raise an error.

You can also use the `pop()` method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the `pop()` method is the removed item.

In [17]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

**Note**: Sets are unordered, so when using the `pop()` method, you do not know which item that gets removed.

The `clear()` method empties the set:

In [18]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

The `del` keyword will delete the set completely:

In [20]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: ignored

## Loop Sets

### Loop Items
You can loop through the set items by using a `for` loop:

In [21]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

## Join Sets

### Join Two Sets
There are several ways to join two or more sets in Python.

You can use the `union()` method that returns a new set containing all items from both sets, or the `update()` method that inserts all the items from one set into another:

In [22]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'b', 3, 'c', 'a'}

In [23]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 'b', 3, 'c', 'a'}

**Note**: Both `union()` and `update()` will exclude any duplicate items.

### Keep ONLY the Duplicates
The `intersection_update()` method will keep only the items that are present in both sets.

In [24]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

The `intersection()` method will return a new set, that only contains the items that are present in both sets.

In [25]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

### Keep All, But NOT the Duplicates
The `symmetric_difference_update()` method will keep only the elements that are NOT present in both sets.

In [26]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'banana', 'microsoft', 'cherry', 'google'}

The `symmetric_difference()` method will return a new set, that contains only the elements that are NOT present in both sets.

In [27]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'banana', 'microsoft', 'cherry', 'google'}

**Note**: The values True and 1 are considered the same value in sets, and are treated as duplicates:

In [28]:
x = {"apple", "banana", "cherry", True}
y = {"google", 1, "apple", 2}

z = x.symmetric_difference(y)

print(z)

{2, 'cherry', 'google', 'banana'}

## Set Methods

| **Method**                    | **Description**                                                                     |
|:-----------------------------:|:-----------------------------------------------------------------------------------:|
| `add()`                       | Adds an element to the set|
| `clear()`                       | Removes all the elements from the set|
| `copy()`                        | Returns a copy of the set|
| `difference()`                  | Returns a set containing the difference between two or more sets|
| `difference_update()`           | Removes the items in this set that are also included in another, specified set |
| `discard()`                     | Remove the specified item|
| `intersection()`                | Returns a set, that is the intersection of two other sets |
| `intersection_update(`)         |Removes the items in this set that are not present in other, specified set(s) |
| `isdisjoint()`                  | Returns whether two sets have a intersection or not |
| `issubset()`                   | Returns whether another set contains this set or not                           |
| `issuperset()`                  | Returns whether this set contains another set or not                             |
| `pop()`                         | Removes an element from the set|
| `remove()`                      | Removes the specified element|
| `symmetric_difference()`        | Returns a set with the symmetric differences of two sets                       |
| `symmetric_difference_update()` | inserts the symmetric differences from this set and another                      |
| `union()`                       | Return a set containing the union of sets                                      |
| `update()`                      | Update the set with the union of this set and others                             |