<a href="https://colab.research.google.com/github/AnelKweyu/Python-Guide/blob/master/_29_Python_String_Formatting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python String Formatting
To make sure a string will display as expected, we can format the result with the `format()` method.

## String format()
The `format()` method allows you to format selected parts of a string.

Sometimes there are parts of a text that you do not control, maybe they come from a database, or user input?

To control such values, add placeholders (curly brackets `{}`) in the text, and run the values through the `format()` method:


```
string.format(value1, value2...)
```

| **Parameter**     | **Description**                                                                                                                                                                                                                       |
|:-----------------:|:-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------:|
| value1, value2... | Required. One or more values that should be formatted and inserted in the string.The values are either a list of values separated by commas, a key=value list, or a combination of both.The values can be of any data type. |

In [1]:
price = 49
txt = "The price is {} Shillings"
print(txt.format(price))

The price is 49 Shillings

You can add parameters inside the curly brackets to specify how to convert the value:

In [2]:
#Format the price to be displayed as a number with two decimals:
txt = "The price is {:.2f} Shillings"

## Multiple Values
If you want to use more values, just add more values to the `format()` method:



```
print(txt.format(price, itemno, count))
```

In [3]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} Shillings."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 Shillings.

## The Placeholders
The placeholders can be identified using named indexes `{price}`, numbered indexes `{0}`, or even empty placeholders `{}`.

In [4]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "Kweyu", age = 36)
txt2 = "My name is {0}, I'm {1}".format("Kweyu",36)
txt3 = "My name is {}, I'm {}".format("Kweyu",36)

## Index Numbers
You can use index numbers (a number inside the curly brackets `{0}`) to be sure the values are placed in the correct placeholders:

In [5]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

Also, if you want to refer to the same value more than once, use the index number:

In [6]:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.

## Named Indexes
You can also use named indexes by entering a name inside the curly brackets `{carname}`, but then you must use names when you pass the parameter values `txt.format(carname = "Ford")`:

In [7]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.

## Formatting Types

<table class="ws-table-all notranslate">
<tbody>
<tr>
  <td><code class="w3-codespan">:&lt;</code></td>
  <td>Left aligns the result (within the available space)</td>
</tr>
<tr>
  <td><code class="w3-codespan">:&gt;</code></td>
  <td>Right aligns the result (within the available space)</td>
</tr>
<tr>
  <td><code class="w3-codespan">:^</code></td>
  <td>Center aligns the result (within the available space)</td>
</tr>
<tr>
  <td><code class="w3-codespan">:=</code></td>
  <td>Places the sign to the left most position</td>
</tr>
<tr>
  <td><code class="w3-codespan">:+</code></td>
  <td>Use a plus sign to indicate if the result is positive or negative</td>
</tr>
<tr>
  <td><code class="w3-codespan">:-</code></td>
  <td>Use a minus sign for negative values only</td>
</tr>
<tr>
  <td><code class="w3-codespan">:&nbsp;</code></td>
  <td>Use a space to insert an extra space before positive numbers (and a minus sign
  before negative numbers)</td>
</tr>
<tr>
  <td><code class="w3-codespan">:,</code></td>
  <td>Use a comma as a thousand separator</td>
</tr>
<tr>
  <td><code class="w3-codespan">:_</code></td>
  <td>Use a underscore as a thousand separator</td>
</tr>
<tr>
  <td><code class="w3-codespan">:b</code></td>
  <td>Binary format</td>
</tr>
<tr>
  <td><code class="w3-codespan">:c</code></td>
  <td>Converts the value into the corresponding unicode character</td>
</tr>
<tr>
  <td><code class="w3-codespan">:d</code></td>
  <td>Decimal format</td>
</tr>
<tr>
  <td><code class="w3-codespan">:e</code></td>
  <td>Scientific format, with a lower case e</td>
</tr>
<tr>
  <td><code class="w3-codespan">:E</code></td>
  <td>Scientific format, with an upper case E</td>
</tr>
<tr>
  <td><code class="w3-codespan">:f</code></td>
  <td>Fix point number format</td>
</tr>
<tr>
  <td><code class="w3-codespan">:F</code></td>
  <td>Fix point number format, in uppercase format (show
  <code class="w3-codespan">inf</code> and
  <code class="w3-codespan">nan</code> as <code class="w3-codespan">INF</code>
  and <code class="w3-codespan">NAN</code>)</td>
</tr>
<tr>
  <td><code class="w3-codespan">:g</code></td>
  <td>General format</td>
</tr>
<tr>
  <td><code class="w3-codespan">:G</code></td>
  <td>General format (using a upper case E for scientific notations)</td>
</tr>
<tr>
  <td><code class="w3-codespan">:o</code></td>
  <td>Octal format</td>
</tr>
<tr>
  <td><code class="w3-codespan">:x</code></td>
  <td>Hex format, lower case</td>
</tr>
<tr>
  <td><code class="w3-codespan">:X</code></td>
  <td>Hex format, upper case</td>
</tr>
<tr>
  <td><code class="w3-codespan">:n</code></td>
  <td>Number format</td>
</tr>
<tr>
  <td><code class="w3-codespan">:%</code></td>
  <td>Percentage format</td>
</tr>
</tbody></table>